.one{
    color: blue;
}
.two{
    color: red;
}
.three{
    color: green;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result{
    color: rgb(22, 144, 185);
}
